.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (max-width: 499px) {
      text-align: center;      
    }
  }

  .form-container {
    width: 70%;
    min-height: 220px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    background-color: $bg-form;
    border: $border-pattern;

    @media screen and (min-width: 500px) and (max-width: 1000px) {
      width: 80%;
    }
    @media screen and (max-width: 499px){
      width: 97%;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 70%;
      @media screen and (min-width: 500px) and (max-width: 1000px) {
        width: 80%;
      }
      @media screen and (max-width: 499px) {
        width: 95%;        
      }
    }
  }
}

.comment-container {
  border-radius: 15px;
  background-color: $bg-form;
  margin-top: 25px;
  width: 60%;
  height: 200px;
  display: flex;
  @media screen and (min-width: 500px) and (max-width: 1000px) {
    width: 70%;
    height: 240px;
  }
  @media screen and (max-width: 499px) {
    width: 93%;   
    height: 240px;
  }
}